body {
  background-color: #fff;
}
#corps {
  background-color: #ffffff;
  height: 1000px;
  width: 1000px;
  margin:auto;
}

#header {
  background-color: #30353C;
  height: 5em;
  width: 1000px;
  margin:auto;
}

#header p {
  
  color: lightgrey;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.2em;
  margin:auto;
  text-align: center;
  position: relative;
  top: 0.95em;
}

#header a {
  color: lightgrey;
}

#header a:hover {
  color: #F7BE3C;
}


.navbar {
  height: 2em;
  width: 1000px;
  background-color: #E6E6E6;
  box-shadow: 0px 10px 10px #B8B8B8;
  margin: auto;
}

.navbar p {

  color: lightgrey;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.1em;
  display: inline-block;
  margin-left:53px;
  
  top: 0.95em;
}

a {
  text-decoration: none;
  color:#6C6C6C;
}

a:hover {
  color: #EDC745;
}
#accueil a:hover {
    color: #B177E2;
}


